<section id="frontpage" class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div id="titlesbackground" class="has-text-centered">
      <p class="title has-text-white">
        Charles Yang
      </p>
      <p class="subtitle has-text-light">
        Student, Developer, and Climber
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container is-fluid">
    <h1 class="is-size-3 has-text-centered has-text-weight-bold block">
      Who am I?
    </h1>
    <div class="columns block">
      <div class="column">
        <div class="box">
          <h5 class="title is-5">
            Student
          </h5>
          <p class="block">
            I am in undergraduate study for Data Science at Iowa State University in Ames, IA.
            However, most of my experience is in web application development and software engineering.
          </p>
          <p class="block">
            I'd like to innovate in distributed data algorithms and infrastructures in centralized and decentralized
            (blockchain) clouds.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h5 class="title is-5">
            Developer
          </h5>
          <p class="block">
            I am a self-taught developer who started with Python Flask and am now migrated to .NET.
          </p>
          <p class="block">
            As of 12/15/2021, I am learning microservice architecture, different cloud providers, and related
            technologies such as Docker and Kubernetes. I hope to master cloud native development, infrastructure, and
            automation.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h5 class="title is-5">
            Climber
          </h5>
          <p class="block">
            I love nature, rocks, and climbing everything. I got addicted to climbing in early 2019.
            I'm like a trancendentalist without the religion and way too much chalk.
            If I retire, you might find me living out of a van in the US national parks.
          </p>
          <div class="has-text-centered block">
            <button id="climbToggle" class="button is-info">Cool Picture</button>
          </div>
          <div id="climb" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
              <p class="image is-fluid">
                <img src="~/images/climb.jpg" alt="">
              </p>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="has-background-white-bis">
  <div class="container is-fluid">
    <h1 class="is-size-3 has-text-centered has-text-weight-bold block">
      IYarles Stack
    </h1>
    <div class="columns block is-multiline">
      <div class="column is-4">
        <div class="box">
          <img class="image" src="~/images/dotnet.png" alt="dotNET">
          <p class="block">
            An open source, cross-platform web development framework maintained by Microsoft. .NET 6 is the backbone of
            my
            websites.
          </p>
        </div>
      </div>
      @* <div class="column is-4">
        <div class="box">
          <img class="image" src="~/images/nginx.png" alt="NGINX">
          <p class="block">
            An enterprise-grade web server. This is how users are able to access my websites via an URL.
          </p>
        </div>
      </div> *@
      <div class="column is-4">
        <div class="box">
          <img class="image" src="~/images/aws.png" alt="AWS">
          <p class="block">
            The largest cloud provider. My websites are hosted and deployed on AWS, but other providers are also viable.
          </p>
        </div>
      </div>
      <div class="column is-4">
        <div class="box">
          <img class="image" src="~/images/bulma.png" alt="Bulma CSS">
          <p class="block">
            A high quality, well maintained, and opensource CSS framework. IYarles is styled with this, along with
            custom
            JavaScript.
            Other frameworks are also viable, such as Bootstrap.
          </p>
        </div>
      </div>
      @* <div class="column is-4">
        <div class="box">
          <img class="image" src="~/images/postgresql.png" alt="PostgreSQL">
          <p class="block">
            The most popular and powerful open source relational database. IYarles uses this to store communication from
            the
            contact page.
            Websites I build that require databases will likely use this.
          </p>
        </div>
      </div> *@
      <div class="column is-4">
        <div class="box">
          <img class="image" src="~/images/github.png" alt="GitHub">
          <p class="block">
            The undisputably most popular version control system.
            All <a href="https://github.com/Yarles404/IYarles">source code</a> is stored on GitHub, enabling efficient file sharing and collaboration.
          </p>
        </div>
      </div>
    </div>
    <h5 class="has-text-centered">Technologies will be added to this section as they are used by this website</h4>
  </div>
</section>