<section id="frontpage" class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div id="titlesbackground" class="has-text-centered">

      <p class="title has-text-white">
        Charles Yang
      </p>
      <p class="subtitle has-text-light">
        Student, Developer, and Climber
      </p>

    </div>
  </div>
</section>

<hr>

<section>
  <div class="container is-fluid">
    <h1 class="is-size-3 has-text-centered has-text-weight-bold block">
      Who am I?
    </h1>
    <div class="columns block">
      <div class="column">
        <div class="box">
          <h5 class="title is-5">
            Student
          </h5>
          <p class="block">
            I am in undergraduate study for Data Science at Iowa State University in Ames, IA.
            However, most of my experience is in web application development and software engineering.
          </p>
          <p class="block">
            I'd like to innovate in distributed data algorithms and infrastructures in centralized and decentralized
            (blockchain) clouds.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h5 class="title is-5">
            Developer
          </h5>
          <p class="block">
            I am a self-taught developer who started with Python Flask and am now migrated to .NET.
          </p>
          <p class="block">
            As of 12/15/2021, I am learning microservice architecture, different cloud providers, and related
            technologies such as Docker and Kubernetes. I hope to master cloud native development, infrastructure, and
            automation.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h5 class="title is-5">
            Climber
          </h5>
          <p class="block">
            I love nature, rocks, and climbing everything. I got addicted to climbing in early 2019.
            I'm like a trancendentalist without the religion and way too much chalk.
            If I retire, you might find me living out of a van in the US national parks.
          </p>
          <div class="has-text-centered block">
            <button id="climbToggle" class="button is-info">Cool Picture</button>
          </div>
          <div id="climb" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
              <p class="image is-fluid">
                <img src="images/climb.jpg" alt="">
              </p>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr>

<section>
  <div class="container is-fluid">
    <h1 class="is-size-3 has-text-centered has-text-weight-bold block">
      Web Development Services
    </h1>
    <div class="columns block">
      <div class="column">
        <div class="box">
          <h5 class="title is-5">
            Why
          </h5>
          <p class="block">
            In today's world, everyone needs to be digital.
            My modern tech stack is highly flexible, enabling me to build portfolios for art, blogs for ideas, or
            fully-fledged websites for businesses.
            With my experience in web development, I can build a website that you and your visitors will love.
          </p>
          <p>

          </p>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h5 class="title is-5">
            What
          </h5>
          <p class="block">
            The foundation of my services is .NET 6, an open source and modern application development framework.
            Released in Decemeber 2021, this framework promises at least 5 years of long term support from Microsoft.
            I use industry standard HTML5, Bootstrap, and custom CSS, so you can be rest assured that your website will
            be cutting edge and long living.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h5 class="title is-5">
            How
          </h5>
          <p class="block">
            If you're ready to jumpstart and digitize your passion and/or business, you can <a
              asp-action="Contact">contact</a> me for a free consultation and quote.
            I would love to answer any questions you may have about my services, trends in web development, or anything
            else.
          <div class="has-text-centered block">
            <a asp-action="Contact"><button class="button is-info">Get Started</button></a>
          </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>