<section class="hero is-fullheight">
  <div class="tile is-ancestor">
    <div class="tile is-3 is-vertical is-parent">
      <div class="tile is-child box">
        <figure class="image is-square">
          <img class="is-rounded" src="~/images/guard.jpg">
        </figure>
        <div class="has-text-centered">
          <span class="is-size-4">Charles Yang</span>
          <div>
            <p class="is-size-7 is-inline">yarlescy@gmail.com</p>
            <p class="is-size-7 is-inline">yarles@iastate.edu</p>
            <p class="is-size-7 is-inline">515-559-3423</p>
          </div>

          <hr>
          <p class="is-size-6">Iowa State University</p>
          <div>
            <p class="is-size-7 is-inline">Data Science,</p>
            <p class="is-size-7 is-inline">Fall 2022,</p>
            <p class="is-size-7 is-inline">3.88 GPA</p>
          </div>

        </div>

      </div>
      <div class="tile is-child box">
        <div class="has-text-centered">
          <span class="is-size-4">Tech</span>
        </div>
        <ul>
          <li>C#, Python, Java</li>
          <li>ASP.NET Core 6</li>
          <li>R Modeling</li>
          <li>Statistics</li>
          <li>SQL, RDMS</li>
          <li>Docker</li>
          <li>HTML, CSS, JS</li>
          <li>Basic AWS</li>
          <li>Linux, Bash</li>
          <li>Git</li>
        </ul>
      </div>
    </div>

    <div class="tile is-vertical is-parent">
      <div class="tile is-child box">
        <div class="has-text-centered">
          <span class="is-size-4">Work Experience</span>
        </div>
        <div>
          <u>Fullstack .NET Web Application Developer at ISU EH&S</u>
          <p class="is-size-7">July 2021 - Present</p>
          <ul>
            <li>Developed customized internal in/out board according to department head's specifications</li>
            <li>Developed fully-featured department vehicle reservation system</li>
            <li>Migrated department information technology request system from .NET 3 to .NET 6</li>
            <li>Migrated regulatory pregnancy declaration form and workflow from paper to a web application</li>
            <li>Maintaing legacy .NET Framework and .NET Core applications</li>
          </ul>
        </div>
        <div>
          <u>CTO-Level Developer at Threat Level Gaming LLC</u>
          <p class="is-size-7">May 2021 - Present</p>
          <ul>
            <li>Built the official website</li>
            <li>Architecting a proprietary social media analytics dashboard</li>
            <li>Leading team developing the analytics dashboard (SaaS)</li>
          </ul>
        </div>
        <div>
          <u>Teaching Assistant at ISU Department of Computer Science</u>
          <p class="is-size-7">January 2021 - June 2021</p>
          <ul>
            <li>Taught object oriented programming concepts</li>
            <li>Made and used grading rubrics to maintain constistent grading standards</li>
          </ul>
        </div>
        <div>
          <u>Group Tutor at ISU Academic Success Center</u>
          <p class="is-size-7">August 2020 - July 2021</p>
          <ul>
            <li>Tutored computer science, linear algebra, trignometry, calculus, and statistics</li>
            <li>Scheduled, structured, and conducted group tutoring sessions</li>
          </ul>
        </div>

        <hr>

        <div class="has-text-centered">
          <span class="is-size-4">Awards</span>
        </div>
        <div class="columns">
          <div class="column awards">
            <div>
              <u>Staff of the Month - July 2021</u>
              <p>Created the official website for <a href="https://threatlevel.gg/"></a>Threat Level Gaming</a> LLC</p>
            </div>
            <div>
              <u>ISU Dean's List</u>
              <p>Maintaining 3.5 GPA or higher during Fall 2019, Spring 2020, Fall 2020, Spring 2021, Fall 2021</p>
            </div>
            <div>
              <u>Gold Cord - 2019</u>
              <p>Inducted into the National Honor Society</p>
            </div>
          </div>
          <div class="column awards">
            <div>
              <u>Vermeer Scholarship - 2020, 2021</u>
              <p>For academics, service, involvement, and character</p>
            </div>
            <div>
              <u>DMACC President's List</u>
              <p>Achieving 4.0 GPA during Fall 2017, Spring 2020, Fall 2020</p>
            </div>
            <div>
              <u>Silver Cord - 2019</u>
              <p>175+ verified volunteer hours</p>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</section>