<section style="margin-top: 3.25rem">
  <div class="container is-fluid">
    <h1 class="is-size-3 has-text-centered has-text-weight-bold block">
      Web Development
    </h1>
    <div class="columns block">
      <div class="column">
        <div class="box">
          <h5 class="title is-5">
            Why
          </h5>
          <p class="block">
            In today's world, everyone needs to be digital.
          </p>
          <p class="block">
            My tech stack is highly flexible, enabling me to build anything from portfolios for art, blogs for ideas, or
            fully-fledged websites for businesses. Your users will be able to conveniently access your services or
            knowledge online.
          </p>
          <p>

          </p>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h5 class="title is-5">
            What
          </h5>
          <p class="block">
            The foundation of my services is .NET 6, an open source and modern application development framework.
            Released in Decemeber 2021, Microsoft promises at least 5 years of long-term support.
          </p>
          <p class="block">
            I use high-quality frontend technologies to maximize your user experience. You're welcome to request a
            specific framework such as Bootstrap.
          </p>
          <div class="has-text-centered block">
            <a href="https://dotnet.microsoft.com/en-us/learn/dotnet/what-is-dotnet"><button
                class="button is-info">Learn More</button></a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h5 class="title is-5">
            How
          </h5>
          <p class="block">
            If you're ready to jumpstart and digitize your passion and/or business, you can <a
              asp-action="Contact">contact</a> me for a free consultation and quote.
          </p>
          <p class="block">
            I would love to answer any questions you may have about my experience in web development, trends in industry, or anything
            else.
          <div class="has-text-centered block">
            <a asp-action="Contact"><button class="button is-info">Get Started</button></a>
          </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="has-background-white-bis">
  <div class="container is-fluid">
    <h1 class="is-size-3 has-text-centered has-text-weight-bold block">
      Tutoring
    </h1>
    <div class="columns block">
      <div class="column">
        <div class="box">
          <h5 class="title is-5">
            Why
          </h5>
          <p class="block">
            Got a hard class coming up? Want to learn something new? Need to pass Calculus 2?
          </p>
          <p class="block">  @* TODO: Link study *@
            Studies show that students who have tutoring are more likely to succeed.
            If you have a difficult class coming up, tutoring can give you the edge you need to excel.
          </p>
          <p>

          </p>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h5 class="title is-5">
            What
          </h5>
          <p class="block">
            I have two years of teaching experience as a tutor in group and private settings and as a TA for an objet oriented programming class.
          </p>
          <p class="block">
            I have tutored students in object oriented programming, data structures and algorithms, geometry, trigonemetry, algebra, calculus, and statistics.
            I always prepare personalized programs for each tutee to maximize their progress.
            In addition, we can have a flexible schedule to accommodate your needs.
          </p>
          <div class="has-text-centered block">
            <a href="https://dotnet.microsoft.com/en-us/learn/dotnet/what-is-dotnet"><button
                class="button is-info">Learn More</button></a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h5 class="title is-5">
            How
          </h5>
          <p class="block">
            If you feel you would benefit from tutoring, feel free to <a
              asp-action="Contact">contact</a> me.
              There is no commitment or obligation to hire me unless you feel absolutely comfortable with an arrangement that we agree on.
              I would love to answer any of your questions.
          </p>
          <p class="block">
            Rates are hourly and can vary depending on the class and your needs. Sessions are usually scheduled for 1 hour timeslots.
          <div class="has-text-centered block">
            <a asp-action="Contact"><button class="button is-info">Get Started</button></a>
          </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>